In [6]:
#THUC HANH VOI DATAFRAME
#dataframe là một cấu trúc dữ liệu 2 chiều trong Pandas, giống như một bảng trong cơ sở dữ liệu hoặc một bảng tính excel
#mỗi cột có thể chứa dữ liệu khác nhau, ví dụ như số nguyên, chuỗi, boolean, hoặc ngày tháng

In [7]:
#Load dữ liệu vào

In [8]:
import pandas as pd
df=pd.read_csv('D:/Data-Analysis/data.csv')

In [9]:
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

Lọc và sắp xếp dữ liệu
Tổng hợp dữ liệu và kỹ thuật aggregation
Kỹ thuật mapping và windowinhg
Liên kết dữ liệu từ nhiều bảng

In [10]:
#Filtering
df_filtered=df['Calories']>300
print(df_filtered)

0      True
1      True
2      True
3     False
4      True
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12    False
13     True
14     True
15    False
16    False
17    False
18    False
19     True
20    False
21     True
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30     True
31    False
Name: Calories, dtype: bool

Đoạn code này làm việc với một DataFrame df, một cấu trúc dữ liệu trong thư viện pandas của Python. DataFrame giống như một bảng với các hàng và cột, tương tự như bảng tính Excel hoặc bảng trong SQL.
DataFrame df có một cột tên là 'Calories', chứa các giá trị số biểu thị lượng calo (ví dụ: calo của thực phẩm, bữa ăn, v.v.).
Biểu thức df['Calories'] > 300 thực hiện một phép so sánh trên cột 'Calories' của DataFrame.
Với mỗi giá trị trong cột 'Calories', nó kiểm tra xem giá trị đó có lớn hơn 300 hay không.
Kết quả của phép so sánh này là một pandas Series chứa các giá trị boolean (True hoặc False):
True cho các hàng mà lượng calo lớn hơn 300.
False cho các hàng mà lượng calo nhỏ hơn hoặc bằng 300.

In [11]:
# Lấy các hàng thực sự có calories>300
df_filtered=df[df['Calories']>300]
print(df_filtered)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
4         45  '2020/12/05'    117       148     406.0
6         60  '2020/12/07'    110       136     374.0
10        60  '2020/12/11'    103       147     329.3
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
19        60  '2020/12/19'    103       123     323.0
21        60  '2020/12/21'    108       131     364.2
25        60  '2020/12/25'    102       126     334.5
30        60  '2020/12/30'    102       129     380.3

In [12]:
# Lọc theo nhiều điều kiện (AND/OR)
#Lọc dữ liệu có Calories > 300 **và** Pulse < 110
df_filtered=df[(df['Calories']>300) & (df['Pulse']<110)]
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [13]:
#Lọc dữ liệu có Maxpulse >130 hoặc Duration > 60
df_filtered=df[(df['Maxpulse']>130)|(df['Duration']>60)]
print(df_filtered)

    Duration          Date  Pulse  Maxpulse  Calories
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
10        60  '2020/12/11'    103       147     329.3
14        60  '2020/12/14'    104       132     379.3
21        60  '2020/12/21'    108       131     364.2
24        45  '2020/12/24'    105       132     246.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0

HÀM ISIN 
Kiểm tra xem mỗi giá trị nằm trong cột có nằm trong danh sách giá trị cụ thể không.
Nó trả về một mảng Boolean(True hoặc False) ứng với từng dòng

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB

In [15]:

# B1: Tạo DataFrame (giả định đã import từ CSV hoặc sẵn có)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')  # Chuyển về định dạng datetime
# B2: Lọc cuối tuần (Saturday=5, Sunday=6)
df_weekends = df[df['Date'].dt.dayofweek.isin([5, 6])]
print(df_weekends)

#hàm .dt.dayofweek trong pandas dùng để kiểm tra một ngày là thứ mấy trong tuần
#cụ thể nó trả về một số nguyên từ 0 đến 6 tương ứng với các ngày trong tuần
#0:monday, 6:sunday

    Duration       Date  Pulse  Maxpulse  Calories
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
27        60 2020-12-27     92       118     241.0

In [16]:
#B3: Lọc ngày lễ (ví dụ: 20/12)
holidays=pd.to_datetime(['2020-12-20'])
df_holidays=df[df['Date'].isin(holidays)]
           
print(df_holidays)

    Duration       Date  Pulse  Maxpulse  Calories
20        45 2020-12-20     97       125     243.0

In [17]:
# Kết quả cuối: gộp lại
df_dayoff = pd.concat([df_weekends, df_holidays]).drop_duplicates()
print(df_dayoff[['Date', 'Duration', 'Calories']])

         Date  Duration  Calories
4  2020-12-05        45     406.0
5  2020-12-06        60     300.0
11 2020-12-12        60     250.7
13 2020-12-13        60     345.3
19 2020-12-19        60     323.0
20 2020-12-20        45     243.0
27 2020-12-27        60     241.0

In [18]:
#sắp xếp dữ liệu (sorting data)

In [19]:
df_sorted=df.sort_values(by='Calories', ascending=False)
print(df_sorted)

    Duration       Date  Pulse  Maxpulse  Calories
1         60 2020-12-02    117       145     479.0
0         60 2020-12-01    110       130     409.1
4         45 2020-12-05    117       148     406.0
30        60 2020-12-30    102       129     380.3
14        60 2020-12-14    104       132     379.3
6         60 2020-12-07    110       136     374.0
21        60 2020-12-21    108       131     364.2
13        60 2020-12-13    106       128     345.3
2         60 2020-12-03    103       135     340.0
25        60 2020-12-25    102       126     334.5
10        60 2020-12-11    103       147     329.3
19        60 2020-12-19    103       123     323.0
23        60 2020-12-23    130       101     300.0
5         60 2020-12-06    102       127     300.0
17        60 2020-12-17    100       120     300.0
3         45 2020-12-04    109       175     282.4
22        45        NaT    100       119     282.0
29        60 2020-12-29    100       132     280.0
15        60 2020-12-15     98       123     275.0
9         60 2020-12-10     98       124     269.0
7        450 2020-12-08    104       134     253.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
26        60        NaT    100       120     250.0
24        45 2020-12-24    105       132     246.0
31        60 2020-12-31     92       115     243.0
20        45 2020-12-20     97       125     243.0
27        60 2020-12-27     92       118     241.0
16        60 2020-12-16     98       120     215.2
8         30 2020-12-09    109       133     195.1
18        45 2020-12-18     90       112       NaN
28        60 2020-12-28    103       132       NaN

In [20]:
# Giả sử vận động viên VIP có Pulse > 110
df_vip = df[df['Pulse'] > 110]
print(df_vip[['Date', 'Pulse', 'Maxpulse']])

         Date  Pulse  Maxpulse
1  2020-12-02    117       145
4  2020-12-05    117       148
23 2020-12-23    130       101

In [21]:
import pandas as pd

data = {
    'Name': ['An', 'Bình', 'Cường', 'Dung', 'Hòa'],
    'Age': [25, 30, 22, 28, 35],
    'City': ['Hà Nội', 'TP.HCM', 'Đà Nẵng', 'Hải Phòng', 'Cần Thơ'],
    'Salary': [15000000, 20000000, 12000000, 18000000, 25000000]
}

df = pd.DataFrame(data)
print(df)

    Name  Age       City    Salary
0     An   25     Hà Nội  15000000
1   Bình   30     TP.HCM  20000000
2  Cường   22    Đà Nẵng  12000000
3   Dung   28  Hải Phòng  18000000
4    Hòa   35    Cần Thơ  25000000

Bài 1: Lọc những người có lương trên 15 triệu
Yêu cầu: Lọc các hàng trong DataFrame mà Salary lớn hơn 15,000,000.

In [22]:
df_Salary=df[(df['Salary'])>15000000]
print(df_Salary)
#Điều kiện df['Salary'] > 15000000 tạo một Series boolean, sau đó được dùng để lọc các hàng thỏa mãn.

   Name  Age       City    Salary
1  Bình   30     TP.HCM  20000000
3  Dung   28  Hải Phòng  18000000
4   Hòa   35    Cần Thơ  25000000

Bài 2: Lọc những người dưới 30 tuổi và sống ở Hà Nội
Yêu cầu: Lọc các hàng mà Age nhỏ hơn 30 và City là 'Hà Nội'.

In [23]:
df_loc=df[(df['Age']<30) & (df['City']=='Hà Nội')]
print(df_loc)

  Name  Age    City    Salary
0   An   25  Hà Nội  15000000

Bai 3: Loc nhung nguoi co luong tu 12 trieu den 20 trieu
Loc cac hang ma Salary nam trong khoang tu 12,000,000 den 20,000,000

In [24]:
filtered_df = df[(df['Salary'] >= 12000000) & (df['Salary'] <= 20000000)]
print(filtered_df)

    Name  Age       City    Salary
0     An   25     Hà Nội  15000000
1   Bình   30     TP.HCM  20000000
2  Cường   22    Đà Nẵng  12000000
3   Dung   28  Hải Phòng  18000000

Bài 4: Lọc những người không sống ở TP.HCM
Yêu cầu: Lọc các hàng mà City không phải là 'TP.HCM'.

In [25]:
filtered_df = df[df['City'] != 'TP.HCM']
print(filtered_df)

    Name  Age       City    Salary
0     An   25     Hà Nội  15000000
2  Cường   22    Đà Nẵng  12000000
3   Dung   28  Hải Phòng  18000000
4    Hòa   35    Cần Thơ  25000000

Bài 5: Lọc những người có tên bắt đầu bằng chữ 'H'
Yêu cầu: Lọc các hàng mà Name bắt đầu bằng chữ 'H'.

In [26]:
filtered_df=df[df['Name'].str.startswith('H')]
print(filtered_df)

  Name  Age     City    Salary
4  Hòa   35  Cần Thơ  25000000

BAI TAP SAP XEP DU LIEU

In [27]:
sorted_df=df.sort_values(by='Age')
print(sorted_df)

    Name  Age       City    Salary
2  Cường   22    Đà Nẵng  12000000
0     An   25     Hà Nội  15000000
3   Dung   28  Hải Phòng  18000000
1   Bình   30     TP.HCM  20000000
4    Hòa   35    Cần Thơ  25000000

SAP XEP DATAFRAME THEO LUONG GIAM DAN

In [28]:
sorted_df=df.sort_values(by='Salary', ascending=False)
print(sorted_df)

    Name  Age       City    Salary
4    Hòa   35    Cần Thơ  25000000
1   Bình   30     TP.HCM  20000000
3   Dung   28  Hải Phòng  18000000
0     An   25     Hà Nội  15000000
2  Cường   22    Đà Nẵng  12000000

Bài 8: Sắp xếp DataFrame theo tuổi tăng dần, nếu tuổi bằng nhau thì theo lương giảm dần
Yêu cầu: Sắp xếp DataFrame theo cột Age tăng dần, và khi tuổi bằng nhau, sắp xếp theo Salary giảm dần.

In [29]:
sorted_df = df.sort_values(by=['Age', 'Salary'], ascending=[True, False])
print(sorted_df)

    Name  Age       City    Salary
2  Cường   22    Đà Nẵng  12000000
0     An   25     Hà Nội  15000000
3   Dung   28  Hải Phòng  18000000
1   Bình   30     TP.HCM  20000000
4    Hòa   35    Cần Thơ  25000000

Bài 10: Kết hợp lọc và sắp xếp
Yêu cầu: Lọc những người có lương trên 15 triệu, sau đó sắp xếp theo tuổi giảm dần.

In [30]:
filtered_sorted_df = df[df['Salary'] > 15000000].sort_values(by='Age', ascending=False)
print(filtered_sorted_df)

   Name  Age       City    Salary
4   Hòa   35    Cần Thơ  25000000
1  Bình   30     TP.HCM  20000000
3  Dung   28  Hải Phòng  18000000

PRACTICE

In [31]:
import pandas as pd

data = {
    'Name': ['An', 'Bình', 'Cường', 'Dung', 'Hòa', 'Lan', 'Minh', 'Ngọc'],
    'Age': [25, 30, 22, 28, 35, 27, 40, 23],
    'City': ['Hà Nội', 'TP.HCM', 'Đà Nẵng', 'Hải Phòng', 'Cần Thơ', 'Hà Nội', 'TP.HCM', 'Đà Nẵng'],
    'Salary': [15000000, 20000000, 12000000, 18000000, 25000000, 17000000, 22000000, 14000000],
    'Department': ['IT', 'HR', 'Marketing', 'IT', 'Finance', 'HR', 'IT', 'Marketing'],
    'Experience': [3, 7, 1, 5, 10, 4, 15, 2]
}

df = pd.DataFrame(data)
print(df)

    Name  Age       City    Salary Department  Experience
0     An   25     Hà Nội  15000000         IT           3
1   Bình   30     TP.HCM  20000000         HR           7
2  Cường   22    Đà Nẵng  12000000  Marketing           1
3   Dung   28  Hải Phòng  18000000         IT           5
4    Hòa   35    Cần Thơ  25000000    Finance          10
5    Lan   27     Hà Nội  17000000         HR           4
6   Minh   40     TP.HCM  22000000         IT          15
7   Ngọc   23    Đà Nẵng  14000000  Marketing           2

Bài 1: Lọc nhân viên có kinh nghiệm từ 3-7 năm, làm ở phòng IT hoặc Finance, và lương trên 15 triệu
Yêu cầu: Lọc các hàng thỏa mãn:
Kinh nghiệm (Experience) từ 3 đến 7 năm (bao gồm cả 3 và 7).
Phòng ban (Department) là 'IT' hoặc 'Finance'.
Lương (Salary) lớn hơn 15,000,000.

In [32]:
filtered_df=df[(df['Experience']>=3) & (df['Experience']<=7)
            &(df['Department'].isin(['IT','Finance'])) &
              (df['Salary']>15000000)]
print(filtered_df)

   Name  Age       City    Salary Department  Experience
3  Dung   28  Hải Phòng  18000000         IT           5

In [33]:
#df['column'].isin([value1, value2, ...])

In [34]:
#Bài 2: Lọc nhân viên có tên chứa chữ 'n' (không phân biệt hoa thường) và sống ở thành phố có từ 'Nội'

In [35]:
filtered_df=df[df['Name'].str.contains('n',case=False)& df['City'].str.contains('Nội')]
print(filtered_df)
#case-false khong phan biet chu hoa, chu thuong, nguoc lai case=true#

  Name  Age    City    Salary Department  Experience
0   An   25  Hà Nội  15000000         IT           3
5  Lan   27  Hà Nội  17000000         HR           4

Bài 3: Lọc nhân viên có lương cao nhất trong mỗi phòng ban
Yêu cầu: Lọc các hàng có Salary cao nhất trong từng Department.

In [36]:
filtered_df=df[df['Salary']==df['Salary'].max()]
print(filtered_df)
#Kết quả sẽ là tất cả các dòng có lương cao nhất (có thể nhiều hơn 1 dòng nếu trùng điểm).

  Name  Age     City    Salary Department  Experience
4  Hòa   35  Cần Thơ  25000000    Finance          10

In [37]:
#c2:  Dùng .nlargest()
# Lấy 1 dòng có giá trị lớn nhất trong cột 'Điểm'

In [38]:
top_row=df.nlargest(1,'Salary')
print(top_row)

  Name  Age     City    Salary Department  Experience
4  Hòa   35  Cần Thơ  25000000    Finance          10

CAO NHẤT/THẤP NHẤT THEO TỪNG GROUP

In [39]:
#Tìm dòng có giá trị lớn nhất trong cột (Salary) theo từng nhóm (Department)

df.loc[df.groupby('TênNhóm')['TênCột'].idxmax()]

groupby('TênNhóm'): nhóm dữ liệu theo cột nào đó (ví dụ: phòng ban).

['TênCột'].idxmax(): tìm chỉ số (index) của dòng có giá trị lớn nhất trong cột đó (mỗi nhóm 1 chỉ số).

df.loc[...]: dùng chỉ số để lấy toàn bộ dòng tương ứng.

In [40]:
filtered_df=df.loc[df.groupby('Department')['Salary'].idxmax()]
print(filtered_df)

   Name  Age     City    Salary Department  Experience
4   Hòa   35  Cần Thơ  25000000    Finance          10
1  Bình   30   TP.HCM  20000000         HR           7
6  Minh   40   TP.HCM  22000000         IT          15
7  Ngọc   23  Đà Nẵng  14000000  Marketing           2

vd:Tìm sản phẩm bán chạy nhất theo từng khu vực

In [41]:
import pandas as pd

# Tạo DataFrame
data = {
    'Region': ['North', 'North', 'South', 'South', 'East', 'East'],
    'Product': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Sales': [120, 200, 150, 140, 100, 180]
}

df = pd.DataFrame(data)

In [42]:
#Tìm sản phẩm có doanh số cao nhất trong từng khu vực

In [43]:
idx=df.groupby('Region')['Sales'].idxmax()
result=df.loc[idx]
print(result)

  Region Product  Sales
5   East       B    180
1  North       B    200
2  South       A    150

In [44]:
# Tìm học sinh có điểm toán cao nhất theo lớp

In [45]:
data = {
    'Class': ['10A', '10A', '10B', '10B', '10C', '10C'],
    'Student': ['Lan', 'Minh', 'Huy', 'Tú', 'Mai', 'Long'],
    'Math': [8.0, 9.5, 9.0, 7.5, 8.5, 9.0]
}

df = pd.DataFrame(data)

In [46]:
df_filtered=df.loc[df.groupby('Class')['Math'].idxmax()]
print(df_filtered)

  Class Student  Math
1   10A    Minh   9.5
2   10B     Huy   9.0
5   10C    Long   9.0

In [47]:
#df.loc[] là cách để truy cập hoặc lọc dữ liệu theo label(tên hàng hoặc điều kiện) trong pandas

In [48]:
import pandas as pd

# Tạo DataFrame mẫu
data = {
    'Date': pd.date_range(start='2022-01-01', periods=24, freq='M'),
    'Revenue': [100, 120, 90, 150, 130, 110, 80, 200, 160, 170, 140, 180,   # 2022
                90, 100, 95, 180, 190, 175, 160, 155, 200, 210, 195, 180]   # 2023
}

df = pd.DataFrame(data)

C:\Users\YOGA\AppData\Local\Temp\ipykernel_5776\2000846460.py:5: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'Date': pd.date_range(start='2022-01-01', periods=24, freq='M'),

In [49]:
# Thêm cột năm và tháng

In [50]:
df['Year']=df['Date'].dt.year
df['Month']=df['Date'].dt.month

In [51]:
#tim thang co doanh thu cao nhat theo tung nam
idx=df.groupby('Year')['Revenue'].idxmax()
result=df.loc[idx,['Year','Month','Revenue']]

print(result)

    Year  Month  Revenue
7   2022      8      200
21  2023     10      210

Bài 4: Lọc nhân viên có tuổi nằm trong top 3 trẻ nhất và lương trên trung bình
Yêu cầu: Lọc các hàng mà:
Tuổi (Age) thuộc top 3 trẻ nhất.
Lương (Salary) lớn hơn mức lương trung bình của toàn bộ DataFrame.

In [52]:
import pandas as pd

data = {
    'Name': ['An', 'Bình', 'Cường', 'Dung', 'Hòa', 'Lan', 'Minh', 'Ngọc'],
    'Age': [25, 30, 22, 28, 35, 27, 40, 23],
    'City': ['Hà Nội', 'TP.HCM', 'Đà Nẵng', 'Hải Phòng', 'Cần Thơ', 'Hà Nội', 'TP.HCM', 'Đà Nẵng'],
    'Salary': [15000000, 20000000, 12000000, 18000000, 25000000, 17000000, 22000000, 14000000],
    'Department': ['IT', 'HR', 'Marketing', 'IT', 'Finance', 'HR', 'IT', 'Marketing'],
    'Experience': [3, 7, 1, 5, 10, 4, 15, 2]
}

df = pd.DataFrame(data)
print(df)

    Name  Age       City    Salary Department  Experience
0     An   25     Hà Nội  15000000         IT           3
1   Bình   30     TP.HCM  20000000         HR           7
2  Cường   22    Đà Nẵng  12000000  Marketing           1
3   Dung   28  Hải Phòng  18000000         IT           5
4    Hòa   35    Cần Thơ  25000000    Finance          10
5    Lan   27     Hà Nội  17000000         HR           4
6   Minh   40     TP.HCM  22000000         IT          15
7   Ngọc   23    Đà Nẵng  14000000  Marketing           2

In [53]:
mean_salary = df['Salary'].mean()
filtered_df = df[df['Age'].isin(df['Age'].nsmallest(3))]
print(filtered_df)

    Name  Age     City    Salary Department  Experience
0     An   25   Hà Nội  15000000         IT           3
2  Cường   22  Đà Nẵng  12000000  Marketing           1
7   Ngọc   23  Đà Nẵng  14000000  Marketing           2

In [54]:
mean_salary = df['Salary'].mean()
filtered_df = df[df['Age'].isin(df['Age'].nsmallest(3)) & (df['Salary'] > mean_salary)]
print(filtered_df)

Empty DataFrame
Columns: [Name, Age, City, Salary, Department, Experience]
Index: []

In [55]:
# ví dụ 3: xử lý giá trị thiếu (NaN)

In [59]:
import pandas as pd
data= {
    'Name': ['An', 'Bình', None, 'Lan'],
    'City':['Hà Nội', 'TP.HCM', 'Đà Nẵng', None]
}
df=pd.DataFrame(data)
filtered_df=df[df['Name'].str.contains('n',case=False,na=False)]
print(filtered_df)

   Name    City
0    An  Hà Nội
1  Bình  TP.HCM
3   Lan    None

In [61]:
#na=False: Gán False cho các giá trị NaN trong cột Name, đảm bảo không gây lỗi.
#None (NaN) được gán False, nên bị loại bỏ.

.nsmallest() và n.largest()

In [62]:
#1 hàm .nsmallest()
#Hàm .nsmallest() trả về n phần tử nhỏ nhất từ một Series hoặc các hàng có giá trị nhỏ nhất trong một cột của DataFrame.

In [64]:
#DataFrame.nsmallest(n, columns, keep='first')
#Series.nsmallest(n, keep='first')

2. Hàm .nlargest()
Hàm .nlargest() trả về n phần tử lớn nhất từ một Series hoặc các hàng có giá trị lớn nhất trong một cột của DataFrame. Nó hoạt động tương tự .nsmallest() nhưng theo hướng ngược lại.

Series:
Series.nlargest(n, keep='first')


DataFrame:
DataFrame.nlargest(n, columns, keep='first')

In [65]:
import pandas as pd

data = {
    'Name': ['An', 'Bình', 'Cường', 'Dung', 'Hòa', 'Lan', 'Minh', 'Ngọc'],
    'Age': [25, 30, 22, 28, 35, 27, 40, 23],
    'City': ['Hà Nội', 'TP.HCM', 'Đà Nẵng', 'Hải Phòng', 'Cần Thơ', 'Hà Nội', 'TP.HCM', 'Đà Nẵng'],
    'Salary': [15000000, 20000000, 12000000, 18000000, 25000000, 17000000, 22000000, 14000000],
    'Experience': [3, 7, 1, 5, 10, 4, 15, 2]
}

df = pd.DataFrame(data)
print(df)

    Name  Age       City    Salary  Experience
0     An   25     Hà Nội  15000000           3
1   Bình   30     TP.HCM  20000000           7
2  Cường   22    Đà Nẵng  12000000           1
3   Dung   28  Hải Phòng  18000000           5
4    Hòa   35    Cần Thơ  25000000          10
5    Lan   27     Hà Nội  17000000           4
6   Minh   40     TP.HCM  22000000          15
7   Ngọc   23    Đà Nẵng  14000000           2

In [67]:
#Sử dụng .nsmallest() trên Series
#Yêu cầu: Lấy 3 giá trị nhỏ nhất trong cột 'Age'.

In [68]:
youngest_ages= df['Age'].nsmallest(3)
print(youngest_ages)

2    22
7    23
0    25
Name: Age, dtype: int64

Phương pháp 2: Sử dụng .loc hoặc .isin() với kết quả của nsmallest()
Nếu bạn đã có youngest_ages = df['Age'].nsmallest(3), bạn có thể dùng chỉ số (index) của youngest_ages để lọc DataFrame:

In [69]:
youngest_age=df['Age'].nsmallest(3)
youngest_df=df.loc[youngest_ages.index]
print(youngest_df)

    Name  Age     City    Salary  Experience
2  Cường   22  Đà Nẵng  12000000           1
7   Ngọc   23  Đà Nẵng  14000000           2
0     An   25   Hà Nội  15000000           3

In [73]:
youngest_age=df['Age'].nsmallest(3)
youngest_df=df[df['Age'].isin(youngest_age)]
print(youngest_df)

    Name  Age     City    Salary  Experience
0     An   25   Hà Nội  15000000           3
2  Cường   22  Đà Nẵng  12000000           1
7   Ngọc   23  Đà Nẵng  14000000           2

In [74]:
print(df.nlargest(3, 'Salary'))

   Name  Age     City    Salary  Experience
4   Hòa   35  Cần Thơ  25000000          10
6  Minh   40   TP.HCM  22000000          15
1  Bình   30   TP.HCM  20000000           7

Get all columns for the 3 employees with the least experience, only for those in the IT department.

In [81]:
least_esp=df['Experience'].nsmallest(3)
filtered_df=df[df['Experience'].isin(least_esp)]
print(filtered_df)

    Name  Age     City    Salary  Experience
0     An   25   Hà Nội  15000000           3
2  Cường   22  Đà Nẵng  12000000           1
7   Ngọc   23  Đà Nẵng  14000000           2

In [82]:
#Get all columns for the 3 youngest employees, sorted by salary in descending order

In [83]:
yongest_df=df.nsmallest(3,'Age').sort_values('Salary',ascending=False)
print(youngest_df)

    Name  Age     City    Salary  Experience
0     An   25   Hà Nội  15000000           3
2  Cường   22  Đà Nẵng  12000000           1
7   Ngọc   23  Đà Nẵng  14000000           2