In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('D:\\Data-Analysis\\sales_data.csv')

In [6]:
df.head()

,transaction_id,customer_id,product,category,quantity,price,date
0,1001,C001,iPhone 14,electronics,1,999,2025-01-01
1,1002,C002,T-shirt,fashion,2,25,2025-01-02
2,1003,C001,Headphones,electronics,1,199,2025-01-03
3,1004,C003,Running Shoes,fashion,1,120,2025-01-04
4,1005,C002,Rice Cooker,home_appliances,1,80,2025-01-05

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  8 non-null      int64
 1   customer_id     8 non-null      object
 2   product         8 non-null      object
 3   category        8 non-null      object
 4   quantity        8 non-null      int64
 5   price           8 non-null      int64
 6   date            8 non-null      object
dtypes: int64(3), object(4)
memory usage: 580.0+ bytes

1. Mapping: Chuyển category thành nhóm đơn giản hơn:
electronics → "Tech"

fashion → "Clothing"

home_appliances → "Home"

Series.map() là một hàm dùng để:

Thay thế hoặc chuyển đổi giá trị trong một Series (thường là một cột trong DataFrame).

Nó có thể dùng với:

Một dictionary để ánh xạ giá trị cụ thể.

Một function để áp dụng hàm lên từng giá trị.

df['new_column'] = df['old_column'].map(mapping_dict_or_function)

In [10]:
mapping_dict= {
    'electronics': 'Tech',
     'fashion': 'Clothing',
      'home_appliances': 'Home'
}
df['category_group']=df['category'].map(mapping_dict)

In [11]:
print(df)

   transaction_id customer_id        product         category  quantity  \
0            1001        C001      iPhone 14      electronics         1
1            1002        C002        T-shirt          fashion         2
2            1003        C001     Headphones      electronics         1
3            1004        C003  Running Shoes          fashion         1
4            1005        C002    Rice Cooker  home_appliances         1
5            1006        C004         Laptop      electronics         1
6            1007        C001        T-shirt          fashion         3
7            1008        C005   Refrigerator  home_appliances         1

   price        date category_group
0    999  2025-01-01           Tech
1     25  2025-01-02       Clothing
2    199  2025-01-03           Tech
3    120  2025-01-04       Clothing
4     80  2025-01-05           Home
5   1200  2025-01-06           Tech
6     25  2025-01-07       Clothing
7    500  2025-01-08           Home

In [ ]:
# USE CASE 1: Chuyển đổi mã quốc gia thành tên quốc gia

In [6]:
import pandas as pd

df=pd.DataFrame({
    'country_code':['VN','US','JP','VN','US']
})
mapping = {
    'VN': 'Vietnam',
    'US': 'United States',
    'JP': 'Japan'
}

df['country_name']=df['country_code'].map(mapping)
print(df)

  country_code   country_name
0           VN        Vietnam
1           US  United States
2           JP          Japan
3           VN        Vietnam
4           US  United States

In [7]:
# USE CASE 2: Chuyển đổi giới tính từ số sang chữ

In [9]:
df=pd.DataFrame({
    'gender':[0,1,1,0,0]
})
df['gender_text']=df['gender'].map({0:'Female', 1:'Male'})
print(df)

   gender gender_text
0       0      Female
1       1        Male
2       1        Male
3       0      Female
4       0      Female

In [10]:
#USE CASE 3: Sử dụng map() với hàm

In [12]:
df=pd.DataFrame({
    'name':['Alice','BOB', 'CharLIE']
})

df['name_lower']=df['name'].map(lambda x: x.lower())
print(df)

      name name_lower
0    Alice      alice
1      BOB        bob
2  CharLIE    charlie

2. Tính tổng tiền mỗi giao dịch

In [13]:
df['total']=df['quantity'] * df['price']
print(df)

   transaction_id customer_id        product         category  quantity  \
0            1001        C001      iPhone 14      electronics         1
1            1002        C002        T-shirt          fashion         2
2            1003        C001     Headphones      electronics         1
3            1004        C003  Running Shoes          fashion         1
4            1005        C002    Rice Cooker  home_appliances         1
5            1006        C004         Laptop      electronics         1
6            1007        C001        T-shirt          fashion         3
7            1008        C005   Refrigerator  home_appliances         1

   price        date category_group  total
0    999  2025-01-01           Tech    999
1     25  2025-01-02       Clothing     50
2    199  2025-01-03           Tech    199
3    120  2025-01-04       Clothing    120
4     80  2025-01-05           Home     80
5   1200  2025-01-06           Tech   1200
6     25  2025-01-07       Clothing     75
7    500  2025-01-08           Home    500

3. Windowing

Windowing là kỹ thuật dùng để tính toán các thống kê (trung bình, tổng v.v) 
dựa trên một khoảng dữ liệu liên tục, như:
3 giao dịch gần nhất của mỗi khách hàng
7 ngày gần nhất trong chuỗi thời gian bán hàng

In [19]:
#Cú pháp cơ bản
# df['new_col'] = df['old_col'].rolling(window=N).tính_toán()
# window=N: số lượng dòng liên tiếp (vd: 3 nghĩa là tính toán trên 3 dòng gần nhất)
# .tinh_toan(): thường là .mean(),.sum(),.min(),.max()

rolling là hàm cửa sổ trượt trong Pandas, dùng để tính toán các thống kê (trung bình, tổng v.v)
trên một số lượng dòng liên tiếp (window).

In [16]:
#Giả sử bạn muốn tính tổng doanh thu trong 3 ngày gần nhất (cửa sổ trượt 3 ngày):

VD1: Trung bình 3 giao dịch gần nhất

In [21]:
df['rolling_avg_3']=df['total'].rolling(window=3).mean()
#dong thu 3 tro di se co gia tri la trung binh cua 3 dong lien tiep gan nhat

VD2: Tổng 2 dòng gần nhất

In [24]:
df['rolling_sum_2']=df['total'].rolling(window=2).sum()

#rolling(window='3D') - dựa khoảng thời gian
Đây là time-based rolling, dùng khi DataFrame có datetime index (ngày tháng làm chỉ số)

In [ ]:
A.rolling(window=3).sum()

LIÊN KẾT DỮ LIỆU

#Đây là kỹ thuật kết hợp dữ liệu từ nhiều bảng (DataFrame) dựa trên khóa chung 
#(common key). Ví dụ: user_id, student_id, order_id...

#pd.merge(): kết hợp theo khóa chung (giống SQL JOIN)
# df.join(): gộp theo index hoặc cột cụ thể
# pd.concat(): Nối theo hàng và cột

pd.merge(left, right, how='inner', on='key_column')

In [18]:
import pandas as pd

students = pd.DataFrame({
    'student_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

scores = pd.DataFrame({
    'student_id': [1, 2, 4],
    'score': [85, 92, 77]
})

In [20]:
result=pd.merge(students, scores, on='student_id', how='inner')
print(result)

   student_id   name  score
0           1  Alice     85
1           2    Bob     92

In [23]:
#Left join (giữ toàn bộ cột bên trái)
result=pd.merge(students, scores, on='student_id', how='left')
print(result)

   student_id     name  score
0           1    Alice   85.0
1           2      Bob   92.0
2           3  Charlie    NaN

USE CASE THỰC TẾ

Yêu cầu:
Tính tổng giá trị đơn hàng cho mỗi khách hàng (gồm tên khách + tổng tiền).

Với mỗi đơn hàng, liệt kê: tên khách, sản phẩm, giá, số lượng, thành tiền, kho lưu hàng.

Chỉ lấy những đơn hàng mà kho cùng tỉnh với khách hàng.

In [1]:
import pandas as pd

# Tạo các DataFrame
orders = pd.DataFrame({
    'order_id': [1, 2, 3, 4],
    'customer_id': [101, 102, 101, 103],
    'product_id': [1001, 1002, 1003, 1002],
    'quantity': [2, 1, 1, 3]
})

customers = pd.DataFrame({
    'customer_id': [101, 102, 103],
    'name': ['An', 'Bình', 'Cường'],
    'city': ['HCM', 'HN', 'Đà Nẵng']
})

products = pd.DataFrame({
    'product_id': [1001, 1002, 1003],
    'product_name': ['iPhone', 'MacBook', 'AirPods'],
    'price': [1000, 2000, 200]
})

warehouses = pd.DataFrame({
    'product_id': [1001, 1002, 1003],
    'warehouse': ['HCM', 'HN', 'ĐN']
})

In [2]:
# BUOC 1: GOP 4 BANG LAI

In [3]:
df=orders.merge(customers, on='customer_id', how='left')
df=df.merge(products, on='product_id', how='left')
df=df.merge(warehouses,on='product_id', how='left')

In [4]:
# BUOC 2: TÍNH THÀNH TIỀN
df['total']=df['quantity']*df['price']

In [8]:
# BUOC 3: TỔNG TIỀN THEO KHÁCH HÀNG
summary=df.groupby(['customer_id','name'])['total'].sum().reset_index()
print(summary)

   customer_id   name  total
0          101     An   2200
1          102   Bình   2000
2          103  Cường   6000

In [9]:
# LỌC ĐƠN HÀNG CÓ KHO CÙNG TỈNH VỚI KHÁCH

In [10]:
df['city_clean']=df['city'].str.lower().str.strip()
df['warehouse_clean']=df['warehouse'].str.lower().str.strip()

same_location_orders=df[df['city_clean']==df['warehouse_clean']]

Câu lệnh df[điều_kiện] nghĩa là gì?
Đây là cách lọc các dòng (rows) trong một DataFrame theo điều kiện.
df[condition] chỉ giữ lại các dòng mà condition == True
df['city_clean'] == df['warehouse_clean']

In [11]:
# Làm thế nào để biết sản phẩm nào bán chạy nhất ở mỗi thành phố?
# tìm sản phẩm có tổng lượng sản phẩm bán ra lớn nhất ở mỗi thành phố (city)

In [12]:
# B1: Gộp bảng orders + customers + products
df=orders.merge(customers, on='customer_id',how='left')
df=df.merge(products, on='product_id', how='left')

In [14]:
#B2: Nhóm theo city và product_name, tính tổng số lượng
grouped=df.groupby(['city','product_name'])['quantity'].sum().reset_index()
print(grouped)

      city product_name  quantity
0      HCM      AirPods         1
1      HCM       iPhone         2
2       HN      MacBook         1
3  Đà Nẵng      MacBook         3

In [17]:
#B3: Với mỗi thành phố, tìm sản phẩm có số lượng cao nhất
# Sắp xếp giảm dần theo quantity
grouped_sorted= grouped.sort_values(['city','quantity'],ascending=[True,False])

#Lấy sản phẩm đầu tiên (max) cho mỗi thành phố
best_sellers= grouped_sorted.groupby('city').first().reset_index()
print(best_sellers)

      city product_name  quantity
0      HCM       iPhone         2
1       HN      MacBook         1
2  Đà Nẵng      MacBook         3

In [18]:
#Tìm đơn hàng lớn nhất cho từng khách

In [21]:
#df_sorted=df.sort_values(['customer_id','total'],ascending=[True, False])
# là một bước sắp xếp dữ liệu trong DataFrame theo nhiều cột cùng lúc
# Mục đích: sắp xếp đơn hàng theo khách hàng, và trong mỗi khách hàng thì sắp theo tổng tiền 
#giảm dần, để chuẩn bị lấy đơn hàng lớn nhất của từng người
#Sắp customer_id tăng dần (1 → 2 → 3...), nhưng total thì giảm dần (1000 → 500 → 200)

In [27]:
df['total']=df['quantity']*df['price']

In [29]:
# Sắp xếp theo customer_id và total giảm dần
df_sorted = df.sort_values(['customer_id', 'total'], ascending=[True, False])

# Lấy đơn đầu tiên (lớn nhất) cho mỗi customer_id
largest_orders = df_sorted.groupby('customer_id').first().reset_index()

# (Tuỳ chọn) Chỉ lấy các cột cần thiết:
result = largest_orders[['customer_id', 'name', 'order_id', 'product_name', 'total']]
print(result)

   customer_id   name  order_id product_name  total
0          101     An         1       iPhone   2000
1          102   Bình         2      MacBook   2000
2          103  Cường         4      MacBook   6000